html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
}

.description {
  color: #555;
  font-size: 16px;
  margin: 20px 0;
  line-height: 1.2rem;
}

.description strong {
  display: none;
}

.paragraph {
  font-size: 14px;
  line-height: 22px;
}

.paragraph strong {
  display: none;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #218838;
}

#item-list {
  list-style: none;
  margin-bottom: 15px;
}
#item-list li {
  padding-block: 2px;
}

.link-item {
  cursor: pointer;
  margin-bottom: 12px;
  display: inline-block;
}

